/* Add your CSS here to style your halloween page */
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

body {
    display: grid;
    background-image: url('../images/background.jpeg');
    background-position: -200px, -200px;
    justify-content: center;

}
#wrapper{
    display: grid;
    border: 3px solid;
    border-radius: 5px;
    justify-items: center;
    justify-content: center;
    background-color:rgba(200,20,180,0.5);
    max-width: 1200px;
    justify-self: center;
    text-align: center;
    backdrop-filter: blur(10px);
    font-size: 2em;
    
}
ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-decoration: none;
    text-align: center;
    justify-content: center;

}
li{
    margin: 20px;
    text-decoration: none;
    font-size: 2em;
    font-family: "Creepster", system-ui;
    color: orange;
    text-shadow: 0 0 20px #fc0;
    text-indent: 0em;
    padding-left: -1em;
    animation-name: floaty;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
li:first-child{
    animation-delay: 0.25s;
}
li:nth-child(2){
    animation-delay: 0.50s;
}
li:nth-child(3){
    animation-delay: 0.75s;
}
li:last-child{
    animation-delay: 1s;
}
li::marker{
    color: orange;
    content: "";
}
img{
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 20px 20px 20px;
    animation: wiggle 1s infinite;
    animation-direction: alternate;
}
h1{
    font-family: "Creepster", system-ui;
    font-size: 4em;
    color: orange
}
h2{
    font-family: "Creepster", system-ui;
    color: greenyellow
}
p{
    font-weight: bold;
    background-color: purple;
    border: 5px solid;
    border-radius: 5px;
    margin: 5px
}

@keyframes floaty{
    from{
        scale: 0.8;
    }
    to{
        scale: 1.2;
    }

}
@keyframes wiggle{
    from{
        transform: rotate(-1deg);
    }
    to{
        transform: rotate(1deg);
    }
}

    
