
/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #05668D   ;
  --secondary-color: #028090 ;
  --accent1-color: #02C39A;
  --accent2-color: #F0F3BD;

  /* change the values below to your chosen font(s) */
  --heading-font: "IM Fell French Canon";
  --paragraph-font: Lato, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(--primary-color);  /* headlines on a white background */ 
  --headline-color-on-color: var(--accent2-color); /* headlines on a colored background */ 
  --paragraph-color-on-white: var(--primary-color); /* paragraph text on a white background */ 
  --paragraph-color-on-color: var(--accent2-color); /* paragraph text on a colored background */ 
  --paragraph-background-color: var(--primary-color) ;
  --nav-link-color: var(--primary-color);
  --nav-background-color: var(--accent1-color);
  --nav-hover-link-color: var(--accent2-color);
  --nav-hover-background-color: var(--primary-color);
}


/*  Look around below...but DON'T CHANGE ANYTHING! */
.home-title{
  font-size: 2em;
  margin-top: 10px;
  color:#05668D;
}
.home-grid{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
.logo{
  width: 80px;
}
.icon{
  padding-top: 10px;
  width: 80px;
}
.book, .join{
  background-color: var(--accent1-color);
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  color: black;
  text-decoration: none;
  border-radius: 5px; 
}
.book:hover, .join:hover{
  color:#F0F3BD
}
.msg p{
  font-size: .8em;
  padding-bottom: 15px;
  color:#05668D
}
.msg h2{
  color:#05668D
}
.msg {
  background-color:#F0F3BD;
  line-height: 1.5em;
  padding: 35px;
  grid-column: 6/10;
  grid-row: 6/7;
  box-shadow: 5px 5px 10px #6f7364;
}

.rivers-card{
  margin: 200px 0;
  grid-column: 2/4;
  grid-row: 2/3;
}
.camping-card{
  margin: 200px 0;
  grid-column: 5/7;
  grid-row: 2/3;
}
.rapids-card{
  margin: 200px 0;
  grid-column: 8/10;
  grid-row: 2/3;
}
.card-img{
  border: 10px solid var(--primary-color);
  transition: transform .5s;
  box-shadow: 5px 5px 10px #6f7364;
}
.card-img, .mountains{
    width: 100%;
}
.card-img:hover {
  opacity: .6;
  transform: scale(1.1);
}
.mountains{
  grid-column: 2/7;
  grid-row: 5/8;
  box-shadow: 5px 5px 10px #6f7364;
}
.button-box{
  text-align: center;
}
#hero{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -100px;
}
#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
}
#hero-msg h1, #hero-msg h4{
  text-align: center;
}
#hero-msg h4{
  color: white;
  margin-bottom: 20px;
}
#hero-img{
  width: 100%
}
#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}
#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}
#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
}

#background{
  height: 725px;
  background-color:#F0F3BD;
  grid-column: 1/11;
  grid-row: 4/9;
}
content{
  max-width: 1600px;
  margin: 0 auto;
}
main section{
  text-align: center;
}
main section img{
  box-sizing: border-box;
}
body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-family: var(--paragraph-font);
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
  margin: 0;
  text-align: center
}
h2 {
  margin: 0;
}
h4 {
  color:#05668D
}
header {
  padding: 1em;
  background-color:#05668D;
  display: grid;
  grid-template-columns: 150px auto;
}

nav {
  background-color:#F0F3BD;
  line-height: 3em;
  font-size: 1.2em;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  font-family: var(--heading-font);
}
nav a {
  text-align: center;
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 35px;
  color:#05668D
}
nav a:hover{
  background-color:#02C39A;
  color:#F0F3BD
}
footer{
  padding: 25px 50px;
  margin-top: 200px;
  background-color:#05668D;
  color:#F0F3BD;
  padding:25px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer p {
  font-size: 1.2em;
}
footer p a:hover{
  text-decoration: underline
}
footer a{
  color:#F0F3BD;
  text-decoration: none
}
footer a:hover{
  color:#02C39A
}
footer .social img{padding-top:15px}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
            
