:root{
    --heading-font: "Microsoft Sans Serif", Arial, sans-serif;
}
#context {
    display: grid;
    grid-template-columns: 48px 1fr;
    background-color: #c0c0c0;
    padding: 0;
    margin: 2px;
    text-align: left;
    border-style: solid;
    border-width : 0px 0px 1px 0px;
    border-color: #818181;
    box-shadow: 0px 1px 0px 0px #f0ffff;
    font-size: 0.8em;
    line-height: 1.2;
    align-items:center;
    text-decoration: none;
    color: black;
}
#context a{
    color: black;
    text-decoration: none;
}
nav{
    font-size: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
nav a{
    text-decoration: none;
    padding: 8px;
    border-style: solid;
    border-width: 0px 1px 1px 0px;
    border-color: #eeeeee black black #eeeeee;
    box-shadow: 1px 1px 0px black;
    color: black;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px white inset, -1px -1px #818181 inset;
    margin: 20px;
    font-weight: 900;

}
nav a:hover{
    color: #818181;
    text-shadow: -1px -1px black;
}
body{
    background-image: url(../images/clouds.jpg);
    text-align: center;
    font-family: var(--heading-font); 
}
h2{
    font-size: 2em;
    font-family: var(--heading-font)
}
h1{
    font-size: 4em
}
.button{
    border-style: solid;
    border-width: 0px 1px 1px 0px;
    border-color: #eeeeee black black #eeeeee;
    box-shadow: 1px 1px 0px black;
    box-shadow: 1px 1px white inset, -1px -1px #818181 inset;
}
.scrollbar{
    display:grid;
    grid-template-rows: 24px 1fr 24px 24px;
    border-style: solid;
    border-width: 1px;
    border-color:  #818181 #f0ffff #f0ffff #818181;
    box-shadow: 1px 1px black inset, -1px -1px #c0c0c0 inset;
    grid-row: 2/4
}

#nugg{
    border-style: solid;
    border-width: 1px;
    border-color:  #818181 #f0ffff #f0ffff #818181;
    animation: nugget 0.5s linear infinite;
    box-shadow: 1px 1px black inset, -1px -1px #c0c0c0 inset;
    background-color: #f0ffff
}
.menu{
    grid-row: 2/4;
    border-style: solid;
    border-width: 1px;
    border-color:  #818181 #f0ffff #f0ffff #818181;
    box-shadow: 1px 1px black inset, -1px -1px #c0c0c0 inset;
    margin:4px;
}
.fish1, .fish2{
    border-style: solid;
    border-width: 1px;
    border-color:  #818181 #f0ffff #f0ffff #818181;
    margin:10px;
    padding:10px;
    overflow: hidden;
    box-shadow: 1px 1px black inset;
    background-color: #121278

}
#topwindow{
    display: grid;
    grid-template-columns: 1fr 24px;
    grid-template-rows: 24px 1fr 1fr
}
.wrapper{
    margin: auto;
    background-color:#c0c0c0;
    border-style: solid;
    border-width: 1px;
    border-color:   #f0ffff #818181 #818181 #f0ffff;
    box-shadow: 1px 1px 0px;
     
   
}
#pagetitle{
    text-align: center;
    padding-left: 24px;
    text-decoration: double;
    background: linear-gradient(to right, #d3d330, #42d399);
    color: #303030;
    background-clip: border-box;
    text-shadow: 2px 2px black;
    border: 5px solid black
 
}
.paragraph{
    background-color:#eeeeee;
    border-style: solid;
    border-width: 1px;
    border-color:  #818181 white white #818181;
    margin: 5px;
    box-shadow: 1px 1px black inset, -1px -1px #c0c0c0 inset;
    text-decoration: none;
    color: black;

}
#pics{
    
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    align-items: stretch;
    justify-items: center;
}
#ice{
    grid-column: 1/4;
}
#icon{
    width:16px;
    padding: 0;
    margin: 0
}
#top{
    justify-self: center;
    margin-bottom: 50px;
    width: 1200px

}
#body{
    max-width: 900px;
}
audio{
 text-align: left;
}
.title{
    display: grid;
    background: linear-gradient(to right, #010081, #1084d0);
    margin: 2px;
    padding: 0px 2px 0px 4px;
    color: white;
    text-align: left;
    line-height: 0;
    grid-template-columns: 28px 1fr  24px;
    grid-template-rows: 22px;
    align-items: center;
    font-weight: 900;
    grid-column: 1/3;
}
.x{
    padding:0;
    margin:0;
    display: grid;
    background-color: #c0c0c0;
    width: 18px;
    height: 16px;
    justify-items: right;
    border-style: solid;
    border-width: 0px 1px 1px 0px;
    border-color: #eeeeee black black #eeeeee;
    box-shadow: 1px 1px 0px black;
    color: black;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    box-shadow: 1px 1px white inset, -1px -1px #818181 inset;
    justify-self: right;
    font-weight: 100;
    align-self: center;

}
.windowtitle{
    font-size: 18px;
}
